# Configuración del Servidor
PORT=3000
NODE_ENV=development

# Configuración de la Base de Datos (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USER=tu_user
DB_PASSWORD=tu_password
DB_NAME=metodologia_db
